h2 {
    margin-top: 5px;
    color: black;
    font-size: 45px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 1px 1px 1px grey;
}

h3 {
    margin-top: 5px;
    color: black;
    font-size: 30px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 1px 1px 1px grey;
}

label {
    font-size: 17px;
    font-weight: bolder;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

#aceptar {
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    margin-bottom: 40px;
}

