{% extends 'base.html' %} {% block title %} Fermentado | agregar ferementado {% endblock title %} {% block script %}
<script>
    $(function() {
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>
<script>
    $(function() {
        $("#datetimepicker2").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>
{% endblock script %} {% block content %}


<h2>Crear ferementado</h2>
<div class="class=" col-md-6 col-sm-6 col-xs-6 pad-adjust "">
    <form method="POST">
        {% csrf_token %} {{ form.fecha_inicio.label }}
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form.fecha_inicio }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>


        {{ form.fecha_fin.label }}
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
            {{ form.fecha_fin }}
            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>


        <div class="form-group">
            <label for="litros_entrada">{{form.litros_entrada.label}}</label> {{ form.litros_entrada}}
        </div>
        <div class="form-group">
            <label for="litros_salida">{{form.litros_salida.label}}</label> {{ form.litros_salida }}
        </div>
        <div class="form-group">
            <label for="produccion">{{form.produccion.label}}</label> {{ form.produccion }}
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Aceptar</button>


    </form>
</div>



{% endblock content %}