{% extends 'base.html' %} {% block title %} Barril | agregar barril {% endblock title %} {% block content %}

<h2>Crear barril</h2>
<div class="class=" col-md-6 col-sm-6 col-xs-6 pad-adjust "">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="codigo">{{form.codigo.label}}</label> {{ form.codigo}}
        </div>
        <div class="form-group">
            <label for="capacidad">{{form.capacidad.label}}</label> {{ form.capacidad }}
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Aceptar</button>


    </form>
</div>


{% endblock content %}