{% extends 'base.html' %} {% load static %} {% block title %} Barril | agregar barril {% endblock title %} {% block content %}
<div class="container-fluid" id="titulo">
    <div class="row">
        <form action="{% url 'produccion:listar_barril' %}">
            <button type="submit" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg> Volver</button>
        </form>
        <h2>Crear barril</h2>
    </div>
</div>
<hr/>
<div class="class=" col-md-6 col-sm-6 col-xs-6 pad-adjust>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="codigo">{{form.codigo.label}}</label> {{ form.codigo}}
        </div>
        <div class="form-group">
            <label for="capacidad">{{form.capacidad.label}}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Lts</div>
                </div>
                {{ form.capacidad }}
            </div>
        </div>
        <div class="row">
            <button id="aceptar" type="submit" class="btn btn-secondary btn-lg">Aceptar</button>
        </div>


    </form>
</div>


{% endblock content %}