<!-- Modal -->


<div class="modal-dialog modal-lg" role="document" style="background-color: gray;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">¿Esta seguro que quiere reactivar el lote con fecha: {{ object.fecha_llenado }}?</h3>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'produccion:reactivar_lote' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <table class="table" id="mi-tabla">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha y hora llenado</th>
                            <th>Fecha y hora carbonatado</th>
                            <th>Barriles</th>
                            <th>Produccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ lote.id}} </td>
                            <td> {{ lote.fecha_llenado}} {{lote.hora_llenado}} </td>
                            <td> {{ lote.fecha_carbonatado}} {{lote.hora_carbonatado}} </td>
                            <td> {{ lote.barriles}} </td>
                            <td> {{ lote.id_produccion.descripcion}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Reactivar</button>
            </div>
        </form>
    </div>
</div>

<!--Fin modal-->