{% extends 'base.html' %} {% block title %} Compra | agregar compra {% endblock title %} {% block script %}

<link REL=StyleSheet href="../templates/estilos.css"> {% endblock script %} {% block content %}
<div class="container-fluid" id="titulo">
    <div class="row">
        <h2>Crear compra</h2>
    </div>
</div>
<hr/>
<div class="class=" col-md-6 col-sm-6 col-xs-6 pad-adjust "">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_proveedor">{{form.id_proveedor.label}}</label> {{ form.id_proveedor}}
        </div>
        <div class="form-group">
            <label for="id_ingrediente">{{form.id_ingrediente.label}}</label> {{ form.id_ingrediente }}
        </div>
        <div class="form-group">
            <label for="cantidad">{{form.cantidad.label}}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Kg</div>
                </div>
                {{ form.cantidad}}
            </div>
        </div>

        <div class="form-group">

            <label for="id_proveedor">{{form.costo.label}}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                {{ form.costo }}
            </div>
        </div>



        <div class="form-group">
            <label for="fecha_compra">{{form.fecha_compra.label}}</label> {{ form.fecha_compra }}
        </div>
        <div class="form-group">
            <label for="fecha_vencimiento">{{form.fecha_vencimiento.label}}</label> {{ form.fecha_vencimiento }}
        </div>
        <div class="form-group">
            <label for="fecha_vencimiento">{{form.comentario.label}}</label> {{ form.comentario }}
        </div>



        <div class="row">
            <button id="aceptar" type="submit" class="btn btn-secondary btn-lg">Aceptar</button>
        </div>

    </form>
</div>


{% endblock content %}