{% extends 'base.html' %} {% block title %} Ingrediente | agregar ingrediente {% endblock title %} {% block content %}

<h2>Crear ingrediente</h2>
<div class="class=" col-md-6 col-sm-6 col-xs-6 pad-adjust "">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_proveedor">{{form.nombre.label}}</label> {{ form.nombre}}
        </div>

        <button type="submit" class="btn btn-secondary btn-lg">Aceptar</button>

    </form>
</div>

{% endblock content %}