{% extends 'base.html' %} {% block title %} Ventas | listar ventas {% endblock title %} {% block script %}
<script>
    function myFunction() {
        //Funcion para filtrar de la tabla
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("busqueda");
        filter = input.value.toUpperCase();
        table = document.getElementById("mi-tabla");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            td3 = tr[i].getElementsByTagName("td")[3];
            td4 = tr[i].getElementsByTagName("td")[4];
            td5 = tr[i].getElementsByTagName("td")[5];
            td6 = tr[i].getElementsByTagName("td")[6];

            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                txtValue4 = td4.textContent || td4.innerText;
                txtValue5 = td5.textContent || td5.innerText;
                txtValue6 = td6.textContent || td6.innerText;

                if ((txtValue.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue1.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue2.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue3.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue4.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue5.toUpperCase().indexOf(filter) > -1) ||
                    (txtValue6.toUpperCase().indexOf(filter) > -1)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    //Funcion para ordenar las columnas
    $(function() {
        $('#mi-tabla').tablesorter({});
    });
</script>

{% endblock script %} {% block content %}

<!--Modal editar-->
<div class="modal fade" id="edicion" role="dialog">

</div>
<!--Fin modal editar-->


<h2>Listado ventas</h2>
<div id="container-fluid">
    <div class="row">
        <div class="col-6" style="width: 50%;">
            <form class="form-inline" style="margin-bottom: 20px;">
                <input id="busqueda" class="form-control mr-sm-2 float-left" onkeyup="myFunction()" type="text" placeholder="Ingrese algun dato" aria-label="Ingrese algun dato de busqueda">
            </form>
        </div>
        <div class="col-6" style="width: 50%; margin-bottom: 20px;">
            <a href="{% url 'ventas:crear_venta' %} " class="btn btn-secondary float-right " role="button " aria-pressed="true ">Crear venta</a>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-12 ">
        <div clas="table-responsive ">
            <table class="table " id="mi-tabla">
                <thead>
                    <tr>
                        <th style="cursor: pointer;">#</th>
                        <th scope="col " style="cursor: pointer; ">Fecha de venta</th>
                        <th scope="col " style="cursor: pointer; ">Descripcion</th>
                        <th scope="col " style="cursor: pointer; ">Valor</th>
                        <th scope="col " style="cursor: pointer; ">Barriles</th>
                        <th scope="col " style="cursor: pointer; ">Cliente</th>
                        <th scope="col " style="cursor: pointer; ">Forma de pago</th>

                        <th scope="col ">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}

                    <tr>
                        <td> {{ venta.id}} </td>
                        <td> {{ venta.fecha}} </td>
                        <td> {{ venta.descripcion}} </td>
                        <td> {{ venta.valor}} </td>
                        <td>
                            <ul>


                                {% for barril in venta.barriles.all %}

                                <li>{{ barril.codigo}}</li>

                                {% endfor %}
                            </ul>
                        </td>
                        <td> {{ venta.cliente}} </td>
                        <td> {{ venta.forma_de_pago}} </td>


                        <td>
                            {% if venta.activo %}
                            <button onclick="abrir_modal_edicion('{% url 'ventas:eliminar_venta' venta.id%}')" style="cursor:pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg></button>
    
                            <a href="{% url 'ventas:editar_venta' venta.id%} "><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                
                            </svg></a>
                            {% else %}
                                <button>Reactivar</button> 
                                
                            {% endif %}
                        </td>

                        

                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %} {% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();

    function abrir_modal_edicion(url) {

        $('#edicion').load(url, function() {

            $(this).modal('show');
        })
    }
</script>
{% endblock extrajs %}