{% extends 'base.html' %} 
{% load static %} 
{% block title %} Listados 
{% endblock title %} 
{% block script %}

    <script type="text/javascript">
        function ShowSelectedMes()
        {
        /* Para obtener el texto */
        var combo = document.getElementById("select");
        var selected = combo.options[combo.selectedIndex].value;
        console.log(selected);
        var inputNombre = document.getElementById("input");

        inputNombre.value = selected;
        }

</script>
<script type="text/javascript">
    function ShowSelectedAño()
    {
    /* Para obtener el texto */
    var combo = document.getElementById("selectAño");
    var selected = combo.options[combo.selectedIndex].value;
    console.log(selected);
    var inputNombre = document.getElementById("inputAño");

    inputNombre.value = selected;
    }

</script>

{% endblock script %}

{% block content %}
<h2>Listados de producciones en un mes</h2>
<div id="container-fluid">
    <div class="row">
        <form method="GET">
            <input style="display: none;" type="text" class="form-control" name="mes" id="input" value="{{request.GET.mes}}">
            <label >Mes</label>
            <select class="form-select" aria-label="Default select example" id="select" onchange="ShowSelectedMes()">
                        <option selected>---------------------</option>        
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
            </select>

            <input style="display: none;" type="text" class="form-control" name="anio" id="inputAño" value="{{request.GET.anio}}">
            <label >Año</label>
            <select class="form-select" aria-label="Default select example" name="anio" id="selectAño" onchange="ShowSelectedAño()">        
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        
            </select>

            <button id="aceptar" type="submit" class="btn btn-secondary btn-lg">Aceptar</button>
            
        </form>
    </div>
</div>
{% if producciones %}
<div class="row ">
    <div class="col-12 ">
        <div clas="table-responsive ">
            <table class="table " id="mi-tabla">
                <thead>
                    <tr>
                        <th >#</th>
                        <th >Descripcion</th>
                        <th >Fecha</th>
                        <th >Litros de agua usados</th>
                        <th >Temperatura de macerado</th>
                        <th >Tiempo de macerado</th>
                        <th >Temperatura cocción</th>
                        <th >Tiempo de cocción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produccion in producciones %}

                    <tr>
                        <td> {{ produccion.id}} </td>
                        <td> {{ produccion.descripcion}} </td>
                        <td> {{ produccion.fecha_produccion}} </td>
                        <td> {{ produccion.cantidad_agua}} </td>
                        <td> {{ produccion.temperatura_maceracion}}</td>
                        <td> {{ produccion.tiempo_maceracion}}</td>
                        <td> {{ produccion.temperatura_coccion}} </td>
                        <td> {{ produccion.tiempo_coccion}} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %} 